<div class="content">
    </div>
    <footer id="myFooter">
      <div class="footer-social">
        <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-google"></i></a>
        <a href="#" class="social-icons"><i class="fa fa-whatsapp"></i></a>
        <p class="font-italic">© Todos os Direitos Reservados <%=Date.current.year%></p>
      </div>
    </footer>
